.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  margin:  0px 5px;
}
.toggleSwitch input[type="checkbox"] {
  display: none;
}
.toggleSwitch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #b6b6b6;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggleSwitch .switch::before {
  position: absolute;
  content: "";
  left: 1px;
  top: 1px;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggleSwitch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(17px);
  background-color: #4361ee;
}
.toggleSwitch input[type="checkbox"]:checked + .switch {
  background-color: #d4edf7;
}
